$base-borderRadius: 3px !default;
$action-color: #477DCA !default;
$darkGray: #333 !default;
$base-fontColor: $darkGray !default;
$base-borderColor: $base-fontColor !default;

@mixin Comment--standard(
    $borderBottom: 1px solid transparentize($base-borderColor, 0.9),
    $background: lighten($action-color, 15%),
    $detailColor: transparentize($base-fontColor, 0.5),
    $borderRadius: $base-borderRadius,
    $componentName: "Comment"
) {
    .#{$componentName}--standard {
        border-bottom: $borderBottom;

        .#{$componentName}-imageContainer {
            > .#{$componentName}-image {
                background: $background;
                border-radius: $borderRadius;
            }
        }

        .#{$componentName}-content {
            .#{$componentName}-detail {
                color: $detailColor;
                font-style: italic;
            }
        }
    }
}
