// Base variables
$screen-medium: 40em !default;
$lightGray: #dcdcdc !default;
$darkGray: #333 !default;
$color-background: white !default;
$color-border: $lightGray !default;
$base-spacing: 1.5em !default;
$color-action: #477dca !default;

@mixin AccordionTabs(
    $tabMode: $screen-medium,
    $tabGutter: $gutter,
    $spacing: $base-spacing,
    $tabColor: $darkGray,
    $tabColor--hover: $color-action,
    $tabBorder: 1px solid $color-border,
    $tabBackground: $color-background,
    $tabBackground--active: $color-background,
    $componentName: "AccordionTabs"
) {
    .#{$componentName} {
        @include clearfix;
        line-height: 1.5;
        padding: 0;

        .#{$componentName}-tabContainer {
            list-style: none;

            @include media($tabMode) {
                display: inline;
            }
        }

        .#{$componentName}-tabHeader {
            background-color: $tabBackground;
            border-right: $tabBorder;
            border-bottom: $tabBorder;
            color: $tabColor;
            display: block;
            padding: ($spacing / 2) $tabGutter;
            text-decoration: none;

            @include media($tabMode) {
                border-top: 0;
                display: inline-block;
            }

            &:hover {
                color: $tabColor--hover;
            }

            &:focus {
                outline: none;
            }

            &:last-child {
                border-right: 0;
            }

            &.is-active {
                @include media($tabMode) {
                    background-color: $tabBackground--active;
                    border-bottom-color: $tabBackground--active;
                    margin-bottom: -1px;
                }
            }
        }

        .#{$componentName}-tabContent {
            display: none;
            padding: $spacing $tabGutter;
            width: 100%;

            @include media($tabMode) {
                border-top: $tabBorder;
                float: left;
            }
        }
    }
}
