// Base variables
$fontFamily-heading: sans-serif !default;
$color-action: #477dca !default;

// Component variables
$AluminumPhoneNumber-color: $color-action !default;
$AluminumPhoneNumber-fontSize: 1.2em !default;
$AluminumPhoneNumber-fontFamily: $fontFamily-heading !default;

.AluminumPhoneNumber {
  font-size: $AluminumPhoneNumber-fontSize;
  font-family: $AluminumPhoneNumber-fontFamily;

  .AluminumPhoneNumber-link {
    color: $AluminumPhoneNumber-color;
    cursor: text;

    &:hover {
      color: $AluminumPhoneNumber-color;
    }
  }
}
