$base-borderColor: #dcdcdc !default;
$base-backgroundColor: #fff !default;
$action-color: #477dca !default;
$darkGray: #333 !default;
$medium-screen: 40em !default;
$tab-mode: $medium-screen !default;

$AccordionTabs-tabColor: $darkGray !default;
$AccordionTabs-tabColor--hover: $action-color !default;
$AccordionTabs-tabBorder: 1px solid $base-borderColor !default;
$AccordionTabs-tabBackground: $base-backgroundColor !default;
$AccordionTabs-tabBackground--active: $base-backgroundColor !default;
$AccordionTabs-tabMode: $tab-mode !default;

@import "../mixins/AccordionTabs";

@include AccordionTabs(
    $tabMode: $AccordionTabs-tabMode,
    $tabColor: $AccordionTabs-tabColor,
    $tabColor--hover: $AccordionTabs-tabColor--hover,
    $tabBorder: $AccordionTabs-tabBorder,
    $tabBackground: $AccordionTabs-tabBackground,
    $tabBackground--active: $AccordionTabs-tabBackground--active
);
