$screen-large: 53.75em !default;
$mode-horizontalBar: $screen-large !default;

$CenteredNavigation-borderColor: #ced8d3 !default;
$CenteredNavigation-padding: 1em !default;
$CenteredNavigation-logoHeight: 2em !default;
$CenteredNavigation-height: 60px !default;
$CenteredNavigation-itemPadding: 1em !default;
$CenteredNavigation-subMenuPadding: 1em !default;
$CenteredNavigation-subMenuWidth: 12em !default;
$CenteredNavigation-itemNudge: 2.2em !default;
$CenteredNavigation-horizontalBarMode: $mode-horizontalBar !default;

@import "../mixins/CenteredNavigation";

@include CenteredNavigation(
    $borderColor: $CenteredNavigation-borderColor,
    $padding: $CenteredNavigation-padding,
    $logoHeight: $CenteredNavigation-logoHeight,
    $height: $CenteredNavigation-height,
    $itemPadding: $CenteredNavigation-itemPadding,
    $subMenuPadding: $CenteredNavigation-subMenuPadding,
    $subMenuWidth: $CenteredNavigation-subMenuWidth,
    $itemNudge: $CenteredNavigation-itemNudge,
    $horizontalBarMode: $mode-horizontalBar
);
